//colors
  $main-color:#20b7b9;
  $light-main-color:rgb(0 183 185 / 6%);
  $sub-color:#63BF85;
  $white-color:#fff;
  $dark-color:#0F1525;
  $p-color:#4c4c4c;
  $light:#ccc;
  $border-color:#7b7b7b40;

//fonts
  $font-links:'Coda', cursive;
  $font-main:'Rubik', sans-serif;
  $font-sub:'Rajdhani', sans-serif;

  $fw-light:400;
  $fw-medium:500;
  $fw-bold:700;
  $fw-semi-bold:900;

  $main-transition: all .2s ;